{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
</div>
  
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h2>Basic Details</h2>
			<h3>{{ firstname }} {{lastname}}</h3>
			<h3>Class of {{ batch }}</h3>
			<h3>Currently working at <i>{{ current_job }}</i></h3>
		</div>
		<div class="col-sm-6">
			<h2>Current Experience</h2>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit...ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</h3>
		</div>
	</div>
</div>


{% endblock %}
